{% extends "base.jinja" %}
    {% block content %}
        <a href="{{ url_for('hello') }}"><h3>Home</h3></a>

        <div>Select Date: <input type="text" id="datepicker"></div>
 
    {% endblock %}

