<html>
<head>
   <title>Glucose Data Entry Form</title>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<style>
	   body {
	      font-family: Arial, Helvetica, sans-serif;
       }

       table {
	      font-size: 1em;
       }
    </style>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> <!--jquery-1.12.4-->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.21.3/build/global/luxon.min.js"></script>

	<script>
	    $( function() {
	        var now = luxon.DateTime.local();
	        var rezoned = now.setZone("America/Vancouver")
	        $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
	        //$( "#datepicker" ).datepicker( "option", "gotoCurrent", true );
		} );
	</script>

</head>

<body>
   
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
           {% for message in messages %}
              <li>{{ message[1] }}</li>
           {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form action="" method="post" enctype="multipart/form-data">
            {{ form.csrfx }}
    <div class="input text">
        {{  blorp }}
       {{ form.ddate.label }} {{ form.ddate(id="datepicker", autocomplete="off" ) }}
       {{ form.amreading.label }} {{ form.amreading }}
       {{ form.pmreading.label }} {{ form.pmreading }}
       {{ form.annotation.label }} {{ form.annotation(size=50) }}
    </div>
    <div class="input submit">
         <input type="submit" value="Submit">
    </div>
</form>

</body>
</html>


